{% if page.title == "Home"
   or page.title == "Blog"
   or page.title == "Projects"
   or page.title == "Tags"
%}{% assign showHeader = true %}{% endif %}

{% if showHeader == true %}
    <header class="header-home {% if site.animation %}animated{% endif %}">
        {% if site.about %}
            <a class="link" href="{{ site.url }}/about">
                <img class="selfie" alt="{{ site.title }}" src="{% if site.external-image %}{{ site.picture }}{% else %}{{ site.url }}/{{ site.picture }}{% endif %}" />
            </a>
        {% else %}
            <span class="link">
                <img class="selfie" alt="{{ site.title }}" src="{% if site.external-image %}{{ site.picture }}{% else %}{{ site.url }}/{{ site.picture }}{% endif %}" />
            </span>
        {% endif %}

        <h1 class="title">
            <span id="name-display" data-bengali-name="{{ site.title-bengali }}" data-english-name="{{ site.title }}">{{ site.title }}</span>
        </h1>
        <h2 class="description">{% assign bio_parts = site.bio | split: 'Weather' %}{{ bio_parts[0] }}<a href="{{ site.url }}/weather" class="weather-link">Weather</a>{% assign climate_parts = bio_parts[1] | split: 'Climate' %}{{ climate_parts[0] }}<a href="{{ site.url }}/climate" class="climate-link">Climate</a>{{ climate_parts[1] }}</h2>

        {% include social-links.html %}
    </header>
{% endif %}

{% include nav.html %}
