<nav class="{% if page.title == "Home" %}nav-home{% else %}nav{% endif %}">
    <ul class="list">
        {% if page.title != "Home" %}
            <li class="item">
                <a class="link" href="{{ site.url }}/">Home</a>
            </li>
        {% endif %}

        {% if site.blog == true %}
            <li class="item">
                <a class="link {% if page.title == "Blog" %}is-active{% endif %}" href="{{ site.url }}/blog">Blog</a>
            </li>
        {% endif %}

        {% if site.projects == true %}
            <li class="item">
                <a class="link {% if page.title == "Projects" %}is-active{% endif %}" href="{{ site.url }}/projects">Projects</a>
            </li>
        {% endif %}

        {% if site.about == true %}
            <li class="item">
                <a class="link {% if page.title == "About" %}is-active{% endif %}" href="{{ site.url }}/about">About</a>
            </li>
        {% endif %}

        {% if page.url contains "/tutorials" %}
            <li class="item">
                <a class="link is-active" href="{{ site.url }}/tutorials">Tutorials</a>
            </li>
        {% endif %}

        {% if site.resume == true %}
            <li class="item">
                <a class="link" href="{% if site.resume-external %}{{ site.resume-url }}{% else %}{{ site.url }}/{{ site.resume-url }}{% endif %}" target="_blank" rel="noopener noreferrer">CV</a>
            </li>
        {% endif %}
    </ul>
</nav>
