.nav,
.nav-home
    > .list
        list-style: none
        margin: 0
        padding: 0 13px 0

        > .item
            display: inline-block

        > .item > .link
            display: inline-block
            font-weight: $thin-font
            font-size: 1.4rem
            padding: 20px 10px
            text-decoration: none

.nav
    position: absolute
    left: auto
    right: auto
    top: 0

    > .list
        padding: 0 0 0

        > .item > .link
            font-size: 1.8rem
            padding: 20px 10px

        > .item > .link.is-active
            position: relative
            padding-bottom: 13px

            &::after
                content: ""
                position: absolute
                left: 50%
                transform: translateX(-50%)
                bottom: 4px
                width: 75%
                height: 3px
                background: $delta
                border-radius: 999px

.nav-home
    margin-top: 40px
    text-align: center

    > .list
        padding: 0
        margin: 0

        > .item > .link
            font-size: 2rem
            padding: 7px 15px
            margin: 0
            border-radius: 4%
            transition: all .4s ease-in-out
            width: 70px

            &:hover
                color: $alpha
